.arrowButton {
  width: fluid(50, 25);
  aspect-ratio: 1/1;
  background-color: var(--baclground);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 1px solid var(--black-blue);

  transition: background 0.3s ease;

  &:hover {
    background-color: var(--white);
  }

  & > svg {
    stroke: var(--black-blue);
  }
}

.arrowButtonDisabled {
  cursor: default;
  border: 1px solid var(--gray);
  & > svg {
    stroke: var(--gray);
  }

  &:hover {
    background-color: var(--baclground);
  }
}
